div.title {
  background: #ff7878;
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  border-radius: 25px;
  padding: 20px; 
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
  width: auto;
  margin: auto;
  
}
hr {
  border: 0;
  border-top: 10px solid #fff5d7;
  margin: 10px auto; /* For vertical spacing */
}

h1 {
  background-color: transparent;
}

h2 {
  font-size: 35px;
  font-weight: 600;
  background-color: transparent;
}

ul.pages_ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  background-color: #ff7878;
  
}

div.list_container {
  text-align: center; 
  background-color: #ff7878;
  margin: auto;
  width: 50%;
  border: 3px solid #fff5d7;
  padding: 10px;
}

li {
  background-color: transparent;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 

div.gallery {
  border: 1px solid #ccc;
  float: left;
}

div.gallery:hover {
  border: 6px solid #fff535;
  margin: -5px;
}

div.gallery img {
  width: 100%;
  max-width: 600px;
  height: 600px;
}

div.desc {
  padding: 15px;
  text-align: center;
}


* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #fff5d7;
}

.responsive {
  padding: 8px 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}